<div class="details-container" id="details-container">
    <div class="details-text-container">
        <h1 id="blip-title">Title</h1>
        <p id="blip-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ab aut assumenda saepe suscipit modi sunt vero, voluptates odit in asperiores labore accusamus dolor esse id aliquid, totam qui soluta!</p>
    </div>
    <div class="button-container">
        <form action="deleteBlip" method="post">
            <button type="submit" name="blipid" id="deleteBlip">Pont törlése</button>
        </form>
        <form action="editBlip" method="post">
            <button type="submit" name="blipid" id="editBlip">Pont szerkesztése</button>
        </form> 
    </div>
</div>