<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mappers - Új pont</title>
</head> 
<body>
    <h1>Pont hozzáadása</h1>
    <form action="createBlip" method="post">
        Pont koordinátái: <br>
        <input type="hidden" name="posx" value="<%- coords.lat %>">
        <input type="hidden" name="posy" value="<%- coords.lng %>">
        Pont típusa: <select name="blipType">
            <% blipTypes.forEach(element => { %>
             <option value=<%- element.typeid %> ><%- element.type_name %> </option>
            <% }) %>
        </select><br><br>
        Hely neve <br>
        <input type="text" name="title"><br>
        Hely leírása: <br>
        <textarea name="description" cols="30" rows="10"></textarea><br>
        <button type="submit">Pont hozzáadása</button>
    </form>
</body>
</html>